li a:hover {
  color: #2f9f7e;              /* texte violet (accent) */
   /* bg-base-300 sur dark */
  transform: scale(1.05);      /* léger zoom */
  box-shadow: 0 0 8px #2f9f7e; /* glow violet */
  
}
