@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui" {
  themes: night, italia, cyberpunk, dracula, light;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
